:root {
    --background: #E2DBD4;
    --background-alternative: #CFC3C6;
    --button: #6A5975;
    --text: #39313C;
}

* {
    box-sizing: border-box;
}

body,
html {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--text);
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}



a {
    user-select: none;
    text-decoration: none;
    color: var(--background);
}

.subrayado {
    text-decoration: underline 4px var(--button);
    text-underline-offset: 5px;
}

.button {
    background: linear-gradient(to bottom, #a759a0 0%, #8a3d8c 100%);
    color: var(--background-alternative);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    width: 80%;
    text-align: center;
    user-select: none;
}

.button:hover {
    background: linear-gradient(to bottom, var(--button) 0%, rgb(160, 89, 160) 100%);
    cursor: pointer;
}

.button:active {
    transform: translateY(1px);
    box-shadow: none;
    background: linear-gradient(to bottom, #8a3d8c 0%, #a759a0 100%);
}

img {
    user-select: none;
}

.hidden {
    display: none !important;
}

/* Barra de navegacion + nombre */

.navbar-custom {
    font-size: 18px;
    color: var(--background);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 20px 0px 10px -5px rgba(0, 0, 0, 0.09),
        -20px 0px 10px -5px rgba(0, 0, 0, 0.09);
}

.navbar-list {
    user-select: none;
    margin-right: 20px;
}

.navbar-list a:hover {
    border-bottom: 2px solid #a759a0;
    text-shadow: 2px 2px 2px #a759a0;
}


.navbar-custom ul {
    gap: 20px;
    display: flex;
}

.footer-custom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--background);
    box-shadow: 20px 0px 10px -5px rgba(0, 0, 0, 0.09),
        -20px 0px 10px -5px rgba(0, 0, 0, 0.09);
}

.footer-custom>div {
    margin: 50px 0px;
    width: 30%;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon {
    color: var(--background);
    cursor: pointer;

}

.icon:hover {
    color: #8f7b97;
}

.copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
}



/* Primera parte */

.section-home {
    padding: 30px;
    color: var(--button);
    width: 90%;
    height: 100vh;
    background-color: var(--background);
    box-shadow: 20px 0px 10px -5px rgba(0, 0, 0, 0.09),
        -20px 0px 10px -5px rgba(0, 0, 0, 0.09);
}

.home-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.home-content {
    padding: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.gallery-container {
    padding: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

}

.gallery-container>div {
    border-radius: 30px;
    height: 40%;
    background-color: var(--background-alternative);
}

.gallery-flower {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.gallery-flower img {
    width: 30%;
    border: solid .5px var(--button);
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.gallery-flower img:hover {
    transform: scale(1.1);
    z-index: 1;
}

.gallery-opinion {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}


.gallery-avatar img {
    border-radius: 50%;
    border: solid 3px var(--button);
}

/* Segunda parte */
.about-section {
    padding: 30px;
    width: 90%;
    height: 100vh;
    box-shadow: 20px 0px 10px -5px rgba(0, 0, 0, 0.09),
        -20px 0px 10px -5px rgba(0, 0, 0, 0.09);
}

.about-section>div {
    height: 50%;
}

.about-info-content {
    display: flex;
    align-items: center;
    color: var(--background);
}

.about-info-content div {
    width: 25%;
    padding: 20px;
}

.about-info-description {
    display: flex;
    color: var(--background);
    background-color: var(--button);
}

.about-info-description div {
    width: 25%;
}

.about-info-description .info-card {
    padding: 20px;
}

/* Tercera parte */
.products-section {
    color: var(--button);
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100vh;
    background-color: var(--background);
    padding: 30px;
    box-shadow: 20px 0px 10px -5px rgba(0, 0, 0, 0.09),
        -20px 0px 10px -5px rgba(0, 0, 0, 0.09);
}

.info-product-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    width: 50%;
}

.info-product-container a {
    color: var(--background);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    background-color: #8a3d8c;
}

.info-product-container a:hover {
    background-color: #a759a0;
}

.info-product-container a:active {
    transform: translateY(1px);
    box-shadow: none;
    background-color: #a759a0;
}

.product-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.product-container img {
    border-radius: 20px;
    border: solid .5px var(--button);
    transition: transform 0.3s ease;
}

.product-container img:hover {
    transform: scale(1.1);
    z-index: 1;
}

.product-container-large {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 330px;
    border-radius: 20px;
    background-color: var(--background-alternative);
}

.product-card-large {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    background-color: var(--background-alternative);
    width: 680px;
    height: 200px;
}

.product-price-container {
    margin-top: 10px;
    padding: 4px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.product-price-container-large {
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 50%;
}

.product-price-container-large div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.old-price {
    text-decoration: line-through;
    font-size: 14px;
}

.new-price {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}

/* Cuarta parte */
.map-section {
    padding: 30px;
    color: var(--button);
    width: 90%;
    height: 100vh;
    box-shadow: 20px 0px 10px -5px rgba(0, 0, 0, 0.09),
        -20px 0px 10px -5px rgba(0, 0, 0, 0.09);
}

.map-container {
    height: 100%;
    width: 100%;
    display: grid;
    color: var(--background);
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

.map-container img{
    border-radius: 20px;
    border: solid 2px var(--background);
}

.map-container .map-description {
    padding: 20px;
}

.map-container div {
    width: 100%;
    height: 100%;
}

/* Quinta parte */
.contact-section {
    padding: 30px;
    width: 90%;
    height: 100vh;
    background-color: var(--background);
}

.contact-container {
    color: var(--text);
    display: flex;
    width: 100%;
    height: 100%;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 40%;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;

}

.contact-form-container input {
    margin: 20px 0px;
    padding: 10px;
    width: 80%;
    border: none;
    border-bottom: 2px solid var(--button);
    background-color: transparent;
}

.contact-form-container input:focus {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.contact-info-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.contact-info-content {
    display: flex;
    height: 60%;
    background-color: var(--background-alternative);
}

.contact-info-content .contact-info {
    width: 60%;
    padding: 30px;
}


.contact-info-content .contact-img {
    width: 40%;
}

.contact-info-content .contact-info .icon-container {
    display: flex;
    gap: 10px;
}

.contact-info-content .contact-info .info-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

/* SHOP */
.navbar-shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    padding: 5px;
    background-color: var(--button);
    color: var(--background);
}

.cart-container:hover {
    color: #f1ebe4;
    background-color: #8f7b97;
    cursor: pointer;
}

.cart-container:active {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(0.95);
}


.shop-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.shop-filter-product-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    width: 35%;
}

.shop-filter-product-container label {
    margin-left: 20px;
    font-size: 16px;
}

.shop-filter-product-container label:hover {
    text-shadow: 1px 1px 1px #a759a0;
}

.shop-filter-product-container input:checked+label {
    text-shadow: 1px 1px 1px #a759a0;
}

.shop-product-container {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    justify-content: space-between;
}

.shop-product-container-large {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    justify-content: space-between;
}

.shop-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 270px;
    border-radius: 20px;
    background-color: var(--background-alternative);
}

.shop-card-large {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    background-color: var(--background-alternative);
    width: 100%;
    height: 30%;
}

.shop-price-container {
    margin-top: 5px;
    padding: 4px;
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-evenly;
}

.shop-product-price-container-large {
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 60%;
}

.shop-price-large {
    font-weight: bold;
    font-size: 16px;
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0;
}

.shop-card img,
.shop-card-large img {
    border-radius: 20px;
    border: solid .5px var(--button);
    transition: transform 0.3s ease;
}

.shop-card img:hover,
.shop-card-large img:hover {
    transform: scale(1.15);
    z-index: 1;
}




/* RESPONSIVE */
@media only screen and (max-width: 768px) {
    .navbar-custom {
        flex-direction: column;
    }

    .navbar-custom ul {
        flex-direction: column;
        padding: 0;
    }

    .product-container {
        display: none;
    }

    .info-product-container{
        width: 100%;
    }
}